<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
    
    <h2 style="color: #2ecc71;">🎉 Congratulations! عزيزي علي</h2>
    
   
    
    <p>We are pleased to inform you انك نكتم بؤق خالص  <strong>وتقولنا</strong> يعني ايه بان لان وان فلقان</p>
    



    <p>If you have any questions, feel free to contact us.</p>
    
    <p>Best regards,<br><strong>3mk karim </strong></p>

</body>
</html>